# DATA ENGINEER - PYTHON PYSPARK

This test consits of fifteen problems. You are required to write your code in cell below each problem and output the result in cell next to it

Total Time Allowed: 3 hours

Style1: 10 markes each shall be awarded for correct solution coded in object oriented paradign in Python3
Style2: 15 marks each shall be awarded for correct solution coded in functional programming paradigm (lamda, map, reduce, filter etc) in Python3
Style3: 20 marks each shall be awarded for correct solution coded in functional programming paradigm (dataframes, map, reduce, filter etc) in PySpark3

Rename and Save the notebook with your FirstName_LastName (eg. Sahil_Gupta.ipynb)

In [1]:
# Rajesh Ghorpde
# rajesh.ghorpade500@gmail.com
# +918308903416/+919595020731

INSTRUCTIONS:
    1. You are required to download and import five CSV files, one json file and one xml file
    2. You would need to understand business involved behind CRM database tables. This is important
    3. Code must be in Python3/PySpark3
    4. Either your code should output something or leave the comment "#solution code here" as it is. We shall use 'Run All' in notebook and it shouldn't result error
    5. Test the entire notebook before uploading to Google Form provided
    6. You can use any Python3 library (two are imported already) or PySpark3 library. There is no restriction
    7. Output fieldname to be displayed are marked as single quaotes '' in problem statement. You should use same field alias names whereever required
    8. Notation for dataframe and/or array must be local to a problem's solution. Eg. Dataframe "test" for problem 8 should be df_prb8_test

In [2]:
import numpy as np
import pandas as pd
import datetime
from datetime import timedelta
from pandas import DataFrame

In [3]:
#import CSVs and JSONs here
df1 = pd.read_csv(r'C:\Users\DJ RAJU\Desktop\New folder\accounts.csv')
df2 = pd.read_csv(r'C:\Users\DJ RAJU\Desktop\New folder\clicks.csv')
df3 = pd.read_csv(r'C:\Users\DJ RAJU\Desktop\New folder\products.csv')
df4 = pd.read_csv(r'C:\Users\DJ RAJU\Desktop\New folder\sales_pipeline.csv')
df5 = pd.read_csv(r'C:\Users\DJ RAJU\Desktop\New folder\sales_teams.csv')
#df6 = pd.read_json(r'C:\Users\DJ RAJU\Desktop\New folder\Orchestra.json')

## 1. Display 'Manager' and 'Grand Total Sales', for sales done by the sales agents reporting these managers

In [4]:
#solution code here
def sales(sales_agent,deal_stage):
    if 'Won' in deal_stage:
        return sales_agent
d_1=df4.apply(lambda x: sales(x['sales_agent'],x['deal_stage']),axis=1)

df5["Count"] = df5["sales_agent"].map(d_1.dropna().value_counts())
df5.groupby(by="manager").sum()

                  Count
manager
Cara Losch          697
Celia Rouche        834
Dustin Brinkmann   1049
Melvin Marxen      1755
Rocco Neubert       993
Summer Sewald      1110

##  2. Display 'Sales Agents' and 'Sales' for those sales where product sold at profit

In [5]:
#solution code here
conditions = [
    (df4['product'] == 'GTXAdvanced'),
    (df4['product'] == 'GTXBasic'),
    (df4['product'] == 'MGRPFU'),
    (df4['product'] == 'MGRPFS'),
    (df4['product'] == 'GTXPlusBasic'),
    (df4['product'] == 'GTXPlusPro'),
    (df4['product'] == 'GTXPro'),
    (df4['product'] == 'GTK500U')
    ]

values = ['649','641','3959','64','1279','6395','5624','31229']

df4['sale_price'] = np.select(conditions, values).astype(int)
df4.dropna()
df4['profit']=df4['close_value']-df4['sale_price']

def sales(sales_agent,deal_stage,product,close_value,profit):
    if 'Won' in deal_stage:
        if profit>0:
            return sales_agent,product,close_value,profit
d_2=df4.apply(lambda x: sales(x['sales_agent'],x['deal_stage'],x['product'],x['close_value'],x['profit']),axis=1)
d_2.dropna().reset_index(drop=True)

0                 (Kami Bicknell, MGRPFU, 4794.0, 835.0)
1                 (Versie Hillebrand, MGRPFS, 67.0, 3.0)
2           (Kami Bicknell, GTXPlusBasic, 1480.0, 201.0)
3           (James Ascencio, GTXPlusPro, 9150.0, 2755.0)
4       (Marty Freudenburg, GTXPlusBasic, 1380.0, 101.0)
                              ...
3206            (Lajuana Vencill, MGRPFU, 4897.0, 938.0)
3207         (Versie Hillebrand, GTXBasic, 761.0, 120.0)
3208               (Darcel Schlecht, MGRPFS, 75.0, 11.0)
3209        (Darcel Schlecht, GTXPlusPro, 6892.0, 497.0)
3210       (Cecily Lampkin, GTXPlusBasic, 1412.0, 133.0)
Length: 3211, dtype: object

## PROBLEM 3: Display the 'Opportunity ID' and 'Days Taken to Close', for opportunities those got closed within a month

In [6]:

#solution code here
df4['created_on'] = pd.to_datetime(df4['created_on'])
df4['close_date'] = pd.to_datetime(df4['close_date'])
df4['days']= df4['close_date']-df4['created_on']

def sales(opportunity_id,days):
    if days<pd.Timedelta(value=30, unit='d'):
        return opportunity_id,days.days
d_3=df4.apply(lambda x: sales(x['opportunity_id'],x['days']),axis=1)
d_3.dropna().reset_index(drop=True)

0       (67HY0MW7, 12)
1        (4VHUTHOJ, 1)
2       (TMJ0OJ0B, 10)
3       (B22V5Z3B, 13)
4       (T8QRTV6F, 10)
             ...
3268    (KSMGHSZG, 11)
3269     (UJS5Q5HS, 8)
3270     (TBKVN0D8, 7)
3271    (4CS92BTC, 12)
3272     (4FI7GRQG, 9)
Length: 3273, dtype: object

## PROBLEM 4: Display product(s) got maximum leads (by count) generated from paid source

In [7]:
#solution code here
def clicks(source,industry):
    if 'Paid' in source:
        return source,industry
d_4=df2.apply(lambda x: clicks(x['source'],x['industry']),axis=1)
d_4.dropna().value_counts()

(Paid, Telecom)                 1725
(Paid, Finance)                 1378
(Paid, SaaS)                    1116
(Paid, Retail/Entertainment)     742
(Paid, IT)                       625
(Paid, Health Care)              546
(Paid, Education)                388
dtype: int64

## PROBLEM 5: Display 'Sales Agent' and 'Opportunity Count', for those sales agents who lost atleast two opportunties

In [8]:
#solution code here
def sales(sales_agent,deal_stage):
    if 'Lost' in deal_stage:
        return sales_agent
d_5=df4.apply(lambda x: sales(x['sales_agent'],x['deal_stage']),axis=1)
a_5=pd.DataFrame(df4['sales_agent'].value_counts().rename_axis('Agent_Name').to_frame('total_oppurtunities'))
b_5 = d_5.dropna().value_counts().rename_axis('Agent_Name').to_frame('lost_oppurtunities')
result_5=pd.merge(a_5, b_5,on='Agent_Name')
result_5

                    total_oppurtunities  lost_oppurtunities
Agent_Name
Darcel Schlecht                    1330                 337
Jonathan Berthelot                  728                 185
Vicki Laflamme                      612                 162
Cassey Cress                        590                 137
Kary Hendrixson                     581                 143
Gladys Colclough                    580                 149
Kami Bicknell                       574                 134
Donn Cantrell                       569                 156
Anna Snelling                       549                 140
Zane Levy                           546                 122
Lajuana Vencill                     545                 149
Corliss Cosme                       520                 126
Niesha Huffines                     520                 123
Maureen Marcano                     515                 119
Marty Freudenburg                   485                 120
Markita Hansen                      472                 115
Versie Hillebrand                   455                 118
Reed Clapper                        439                  87
Violet Mclelland                    429                 111
Moses Frase                         386                  95
Daniell Hammack                     363                  80
James Ascencio                      354                  88
Hayden Neloms                       326                  71
Cecily Lampkin                      324                  86
Boris Faz                           289                  63
Elease Gluck                        272                  62
Rosalina Dieter                     252                  52
Garret Kinder                       251                  63
Rosie Papadopoulos                  237                  56
Wilburn Farren                      184                  44

## PROBLEM 6: Display in ascending order of revenue, 'Account' and 'Revenue' for telecom accounts

In [9]:
#solution code here
new_df_6 = df4[['account','created_on']]
new_df_6.fillna(method='ffill')
new_df_6 = pd.merge(new_df_6,df1,on='account') 
d_6=df2[df2["industry"] == 'Telecom']
d_6['created_on'] = pd.to_datetime(d_6['created_on'])
new_df_6= pd.merge(new_df_6,d_6,on='created_on')
new_df_6.drop_duplicates(keep=False,inplace=True)
new_df_6[['industry','account', 'revenue']].sort_values('revenue').reset_index(drop=True)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     industry         account  revenue
0     Telecom      Stanredtax    14.79
1     Telecom      Stanredtax    14.79
2     Telecom      Stanredtax    14.79
3     Telecom      Stanredtax    14.79
4     Telecom      Stanredtax    14.79
...       ...             ...      ...
7205  Telecom  Dalttechnology  6085.60
7206  Telecom  Dalttechnology  6085.60
7207  Telecom  Dalttechnology  6085.60
7208  Telecom  Dalttechnology  6085.60
7209  Telecom  Dalttechnology  6085.60

[7210 rows x 3 columns]

## PROBLEM 7: Display by revenue generated, bottom five 'Industries' and 'Revenue'

In [10]:

#solution code here
new_df_7 = df4[['account','created_on']]
new_df_7.fillna(method='ffill')
df2['created_on']=pd.to_datetime(df2['created_on'])
new_df_7 = pd.merge(new_df_7,df1,on='account')
new_df_7= pd.merge(new_df_7,df2,on='created_on')
d_7=new_df_7[['industry', 'revenue']].sort_values('revenue').reset_index(drop=True)
d_7.drop_duplicates(subset=['industry'])
d_7.head(5)

               industry  revenue
0               Finance    14.79
1           Health Care    14.79
2                  SaaS    14.79
3  Retail/Entertainment    14.79
4  Retail/Entertainment    14.79

## PROBLEM 8: Display 'Month of Year' vs 'Sales', for GTXBasic. NOTE: "Month of Year" means month year (eg. Jan) and "Month" means month (eg. Jan 2020, Jan 2021 etc)

In [11]:
#solution code here
def sales(close_date,deal_stage,product):
    if 'Won' in deal_stage:
        if 'GTXBasic' in product:
            return product,close_date.month_name()
d_8=df4.apply(lambda x: sales(x['close_date'],x['deal_stage'],x['product']),axis=1)
d_8.dropna().value_counts()

(GTXBasic, September)    253
(GTXBasic, December)     206
(GTXBasic, October)      202
(GTXBasic, August)       189
(GTXBasic, July)         136
(GTXBasic, June)         114
(GTXBasic, May)           88
(GTXBasic, November)      77
(GTXBasic, March)         45
(GTXBasic, April)         44
dtype: int64

## PROBLEM 9: Which sales agent(s) never lost a deal. Display as a dictionary {sales agent:sales}

In [12]:

#solution code here
a_dict={}
d=df4['sales_agent']
for i in range(len(df4['deal_stage'])):
    if df4['deal_stage'][i] == 'Won':
        if d[i] in a_dict:
            a_dict[d[i]] += 1
        else:
            a_dict[d[i]] = 1
    elif df4['deal_stage'][i] == 'Lost' or df4['deal_stage'][i]=='In_Progress':
        if d[i] in a_dict:
            a_dict.pop(d[i])
        else:
            continue
a_dict

{'Elease Gluck': 4,
 'Hayden Neloms': 3,
 'Wilburn Farren': 2,
 'Kami Bicknell': 2,
 'Markita Hansen': 6,
 'Donn Cantrell': 1,
 'Rosie Papadopoulos': 1,
 'Violet Mclelland': 1,
 'Kary Hendrixson': 1,
 'Maureen Marcano': 1,
 'Cassey Cress': 1,
 'Garret Kinder': 1,
 'Anna Snelling': 8,
 'Niesha Huffines': 7,
 'Marty Freudenburg': 6,
 'Moses Frase': 5,
 'Gladys Colclough': 4,
 'Versie Hillebrand': 3,
 'Jonathan Berthelot': 3,
 'Lajuana Vencill': 1,
 'Darcel Schlecht': 2,
 'Cecily Lampkin': 1}

## PROBLEM 10: Display 'Sales Agents', 'Product', and 'Sales', for those sales agents who closed more than one deal on same day

In [13]:
#solution code here
d_10=df4[df4['deal_stage']=='Won']
d_10 = d_10[d_10.duplicated(['close_date','sales_agent'])]
d_10[['sales_agent','product','close_date']]

              sales_agent     product close_date
264       Darcel Schlecht      GTXPro 2017-08-02
274      Violet Mclelland    GTXBasic 2017-09-18
287          Cassey Cress      MGRPFS 2017-09-11
420       Darcel Schlecht      MGRPFS 2017-06-05
445       Rosalina Dieter      MGRPFS 2017-08-16
...                   ...         ...        ...
14268     Darcel Schlecht      GTXPro 2017-10-08
14269     Lajuana Vencill      MGRPFU 2017-10-12
14272     Darcel Schlecht      MGRPFS 2017-10-03
14273     Darcel Schlecht  GTXPlusPro 2017-10-24
14274  Jonathan Berthelot    GTXBasic 2017-10-10

[2264 rows x 3 columns]

## Refer & Use Orchestra.json to answer problem 11-13 below

In [14]:
#solution code here
import json 
import pandas as pd 
from pandas.io.json import json_normalize
with open(r'C:\Users\DJ RAJU\Desktop\New folder\Orchestra.json',encoding='UTF-8') as f:    
    d_11 = json.load(f)
nyc = json_normalize(d_11['programs'])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

In [15]:
works_data = json_normalize(data=d_11['programs'], record_path='works',meta=['id', 'orchestra','programID', 'season'])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [16]:
soloist_data = json_normalize(data=d_11['programs'], record_path=['works', 'soloists'], meta=['id'])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.



## PROBLEM 11: Display the instrument played by Lehmann Caroline

In [17]:
a_11=soloist_data[soloist_data['soloistName']== "Lehmann, Caroline"]
a_11=a_11[['soloistName','soloistInstrument']].drop_duplicates().reset_index(drop=True)
a_11

         soloistName soloistInstrument
0  Lehmann, Caroline           Soprano

## PROBLEM 12: Display all vocalists

In [18]:
#solution code here
a_12=soloist_data[soloist_data['soloistInstrument']== "Vocalist"].drop_duplicates().reset_index(drop=True)
a_12[['soloistName','soloistInstrument']]

            soloistName soloistInstrument
0         Loder, Edward          Vocalist
1         Ricci, Amalia          Vocalist
2            Sanquirico          Vocalist
3         Loder, Edward          Vocalist
4               De Luce          Vocalist
..                  ...               ...
186    Connell, Horatio          Vocalist
187  Rennyson, Gertrude          Vocalist
188         Braun, J.F.          Vocalist
189   Clark, Charles W.          Vocalist
190   Clark, Charles W.          Vocalist

[191 rows x 2 columns]

## PROBLEM 13: Display orchestra played under program id 2561

In [19]:

#solution code here
a_13=nyc[nyc['programID']== '2561']
a_13[['programID','orchestra']].reset_index(drop=True)

  programID              orchestra
0      2561  New York Philharmonic

## Refer & Use Orchestra.xml to answer problem 14-15 below

In [20]:
#pip install pandas_read_xml

In [21]:
#pip install --upgrade pip

In [22]:
#!pip install --upgrade pandas

In [23]:
import pandas_read_xml as pdx
df_14_15 = pdx.read_xml(r'C:\Users\DJ RAJU\Desktop\New folder\Orchestra.xml',encoding='UTF-8') #if error please install the above command in comments

In [24]:

df_14_15 = pdx.fully_flatten(df_14_15)



## PROBLEM 14: Display locations used for event at time 8:15 PM

In [25]:

#solution code here
a_14=df_14_15[df_14_15['programs|program|concertInfo|Time']=='8:15PM']
a_14[['programs|program|concertInfo|Time','programs|program|concertInfo|Venue']].drop_duplicates().reset_index(drop=True)

   programs|program|concertInfo|Time      programs|program|concertInfo|Venue
0                             8:15PM                           Unknown Venue
1                             8:15PM                           Carnegie Hall
2                             8:15PM                   New York Theatre Roof
3                             8:15PM                            Woolsey Hall
4                             8:15PM  Metropolitan Opera House (39th street)
5                             8:15PM               Brooklyn Academy of Music
6                             8:15PM                         Carnegie Lyceum
7                             8:15PM                    Court Square Theater
8                             8:15PM                           Infantry Hall
9                             8:15PM                        Academy of Music
10                            8:15PM                         Parsons Theatre
11                            8:15PM                      Krueger Auditorium
12                            8:15PM                          Tomlinson Hall

## PROBLEM 15: Display total number of programs

In [26]:

#solution code here
df_14_15['programs|program|id'].value_counts()

bc4845dd-10be-4241-a130-8fcdd5160a3a-0.1    86
a1bf5399-033b-44da-9f7d-bbeb9380689e-0.1    59
4e7bb6ef-1675-4a35-8196-d0dab7d6ba5b-0.1    46
64aa6587-b4c6-4a32-a94d-4e87f24b1193-0.1    40
6bb19636-2f4b-45ec-9a99-d49d281a423f-0.1    36
                                            ..
f0356b40-a9cb-4a16-9814-2bbda5a2dc10-0.1     1
e66ac133-8dc3-4a73-9db1-57b19bca7e71-0.1     1
addd0a8c-7f87-4db5-b89b-e130ec649063-0.1     1
0c5bbddc-8acc-42d9-9380-46a4a2da46a4-0.1     1
2a850ead-d89b-43e1-9dc2-7bb413575efc-0.1     1
Name: programs|program|id, Length: 1033, dtype: int64

In [27]:
print('Toal Number of Programs=')
df_14_15['programs|program|id'].nunique()

Toal Number of Programs=

1033